LeeesBungeeQueue-Ver-3.1.5/pom.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://maven.apache.org/POM/4.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="project" type="ns:projectType" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
  <xs:complexType name="propertiesType">
    <xs:sequence>
      <xs:element type="xs:string" name="maven.compiler.source"/>
      <xs:element type="xs:string" name="maven.compiler.target"/>
      <xs:element type="xs:string" name="project.build.sourceEncoding"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="includesType">
    <xs:sequence>
      <xs:element type="xs:string" name="include"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resourceType">
    <xs:sequence>
      <xs:element type="xs:string" name="targetPath"/>
      <xs:element type="xs:string" name="filtering"/>
      <xs:element type="xs:string" name="directory"/>
      <xs:element type="ns:includesType" name="includes" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resourcesType">
    <xs:sequence>
      <xs:element type="ns:resourceType" name="resource" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="configurationType">
    <xs:sequence>
      <xs:element type="xs:string" name="outputDirectory" minOccurs="0"/>
      <xs:element type="xs:string" name="source" minOccurs="0"/>
      <xs:element type="xs:string" name="target" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pluginType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="xs:string" name="groupId"/>
      <xs:element name="artifactId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="maven-jar-plugin"/>
            <xs:enumeration value="maven-compiler-plugin"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="version">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="2.3.1"/>
            <xs:enumeration value="3.8.1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="ns:configurationType" name="configuration" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="pluginsType">
    <xs:sequence>
      <xs:element type="ns:pluginType" name="plugin" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buildType">
    <xs:sequence>
      <xs:element type="xs:string" name="finalName"/>
      <xs:element type="xs:string" name="sourceDirectory"/>
      <xs:element type="ns:resourcesType" name="resources" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
      <xs:element type="ns:pluginsType" name="plugins" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="projectType">
    <xs:sequence>
      <xs:element type="xs:string" name="modelVersion"/>
      <xs:element type="xs:string" name="groupId"/>
      <xs:element type="xs:string" name="artifactId"/>
      <xs:element type="xs:string" name="version"/>
      <xs:element type="ns:propertiesType" name="properties" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
      <xs:element type="ns:buildType" name="build" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>